@media screen and (min-width: 767px) {
    #user-loaned-books-list {
        padding-left: 18%;
        width: 50%;
        margin-left: 12%;
    }
}

@media screen and (min-width: 767px) {
    #usersList {
        margin-right: 11%;
    }
}
